.docker:
  image: docker:stable
  services:
    - docker:stable-dind
  variables:
    DOCKER_HOST: docker:2375
  script:
    - docker build -t $CI_JOB_NAME .
    - docker login -u $CI_DOCKER_GITLAB_USER -p $CI_DOCKER_GITLAB_PASSWORD $CI_REGISTRY
    - docker tag $CI_JOB_NAME registry.gitlab.com/mvochoa-docker/$CI_JOB_NAME
    - docker push registry.gitlab.com/mvochoa-docker/$CI_JOB_NAME
    - docker login -u $CI_DOCKER_USER -p $CI_DOCKER_PASSWORD
    - docker tag $CI_JOB_NAME mvochoa/$CI_JOB_NAME
    - docker push mvochoa/$CI_JOB_NAME
  after_script:
    - apk add --update curl jq
    - ./description.sh mvochoa/$(echo $CI_JOB_NAME | sed 's/:.*/\1/')
  tags:
    - docker

gomon:latest:
  extends: .docker
  before_script:
    - cd 1.2.0-golang1.13-alpine3.10-genstructgolang0.0.3/
  only:
    refs:
      - master
    changes:
      - 1.2.0-golang1.13-alpine3.10-genstructgolang0.0.3/*
      - 1.2.0-golang1.13-alpine3.10-genstructgolang0.0.3/**/*

gomon:1.2.0-alpine3.10:
  extends: .docker
  before_script:
    - cd 1.2.0-alpine3.10/
  only:
    refs:
      - master
    changes:
      - 1.2.0-alpine3.10/*
      - 1.2.0-alpine3.10/**/*

gomon:1.1.0-golang1.11.1:
  extends: .docker
  before_script:
    - cd 1.1.0-golang1.11.1/
  only:
    refs:
      - master
    changes:
      - 1.1.0-golang1.11.1/*
      - 1.1.0-golang1.11.1/**/*

gomon:1.1.0-golang1.11-alpine3.8:
  extends: .docker
  before_script:
    - cd 1.1.0-golang1.11-alpine3.8/
  only:
    refs:
      - master
    changes:
      - 1.1.0-golang1.11-alpine3.8/*
      - 1.1.0-golang1.11-alpine3.8/**/*

gomon:1.2.0-golang1.13-alpine3.10-genstructgolang0.0.3:
  extends: .docker
  before_script:
    - cd 1.2.0-golang1.13-alpine3.10-genstructgolang0.0.3/
  only:
    refs:
      - master
    changes:
      - 1.2.0-golang1.13-alpine3.10-genstructgolang0.0.3/*
      - 1.2.0-golang1.13-alpine3.10-genstructgolang0.0.3/**/*
